<div class="card" *ngIf="type == 'def'" [ngStyle]="{'height': (isMobile) ? '220px' : '250px'}">
    <p>
        name:
        {{card.name}}
    </p>
    <p>
        price:
        {{card.price}}
    </p>
    <div class="card_bottom" *ngIf="!isMobile">
        <div class="card_bottom__qnt">
            <div class="card_bottom__togle" (click)="onSubstract(card)">-</div>
            {{card.qnt}}
            <div class="card_bottom__togle" (click)="onAdd(card)">+</div>
        </div>
        <div class="card_button" (click)="addToCart(card)" *ngIf="!existingCart.includes(card.name)">Add to cart</div>
        <div class="card_button added" (click)="onDelete(card)" *ngIf="existingCart.includes(card.name)">Added</div>
        <div class="card_button">F</div>
    </div>
    <!-- //////////////////// -->
    <div class="mobile-card_bottom" *ngIf="isMobile">
        <div class="card_bottom__qnt">
            <div class="card_bottom__togle" (click)="onSubstract(card)">-</div>
            {{card.qnt}}
            <div class="card_bottom__togle" (click)="onAdd(card)">+</div>
        </div>
        <div class="card_button">F</div>
        <div class="card_button" [ngStyle]="{'grid-column': '1 / 3'}" (click)="addToCart(card)" *ngIf="!existingCart.includes(card.name)">Add to cart</div>
        <div class="card_button added" [ngStyle]="{'grid-column': '1 / 3'}" (click)="onDelete(card)" *ngIf="existingCart.includes(card.name)">Added</div>
    </div>
</div>

<div class="cart" *ngIf="type == 'cart'">
    <div class="item">{{card.name}}</div>
    <div class="item-qnt">
        <div class="card_bottom__togle" (click)="onSubstract(card)">-</div>
        {{card.qnt}}
        <div class="card_bottom__togle" (click)="onAdd(card)">+</div>
    </div>
    <div class="item">{{card.price}}</div>
    <div class="item">{{card.price * card.qnt}}</div>
    <div class="item-del" (click)="onDelete(card)">
        <span class="material-icons">
            clear
        </span>
    </div>
</div>