<div class="header" *ngIf="!isMobile">
    <a class="logo" routerLink="/">Duken.</a>
    <div class="links">
        <a routerLinkActive="active" routerLink="/stall">Stall</a>
        <a routerLinkActive="active" routerLink="/cart">Cart</a>
        <div class="badge">
            {{badge}}
        </div>
    </div>
</div>
<!-- ///////////////////////// -->
<div class="header mobile-header" *ngIf="isMobile" [ngStyle]="{'background': (isDarkMode) ? '#252525' : 'blue'}">
    <a class="logo" routerLink="/">Duken.</a>
    <div class="links">
        <a routerLinkActive="active" routerLink="/stall">Stall</a>
        <a routerLinkActive="active" routerLink="/cart">Cart</a>
        <div class="badge">
            {{badge}}
        </div>
    </div>
</div>
