.cart {
    display: grid;
}
.cart_item {
    border-bottom: 1px solid #b3b3b3;
}
.qnt {
    padding-left: 27.2px;
}
.last-child .cart_item{
    border: 0;
}
.empty-cart {
    height: calc(100vh - 2rem - 70px);
    width: 100%;
    display: grid;
    align-self: center;
    align-content: center;
    justify-content: center;
    color: #a0a0a0;
}
.cart_label {
    display: grid;
    grid-template-columns: 1fr 15% 10% 10% 18px;
    grid-gap: 1rem;
    padding: 0 1rem;
}
.cart_label p {
    margin: 0;
    font-size: 14px;
    color: #919191;
}

/* ///////////////////////////////// */

.mobile-cart_wrapper {
    margin: 0 -1rem;
}
.mobile-cart_label {
    display: grid;
    grid-template-columns: 1fr calc(74.4px - 27.7px) 15% 18px;
    grid-gap: 1rem;
    padding: 0 0.5rem 0 1rem;
}
.mobile-cart_label p {
    margin: 0;
    font-size: 14px;
    color: #919191;
}